include LICENSE.txt README.rst
recursive-include tests *
recursive-include docs *
recursive-include sijax/js *
recursive-include sijax/plugin/comet/js *
recursive-include sijax/plugin/upload/js *

recursive-exclude * *.swp
recursive-exclude docs/_build *
